<!-- chat/templates/chat/room.html -->
{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
Chat Room
{% endblock title %}
    
{% block content %}
    

   
    {{ room_name|json_script:"room-name" }}
    {{ room.id|json_script:"room_id" }}
    {{ received_user.username|json_script:"received_user" }}

 


<!-- Template -->

<!-- component -->
<div class="flex-1 p:2 sm:p-6 justify-between flex flex-col h-screen ">
   <div class="mx-32 md:mx-72 lg:mx-96"></div>
   {{room.id}}
   {{request.user}}
    <div class="flex sm:items-center justify-between py-3 border-b-2 border-gray-200">
       <div class="flex items-center space-x-4 ml-3">
         <span class="text-xl md:text-4xl me-1"><a href="{% url 'chat:index' %}"><i class='bx bx-arrow-back'></i></a></span>
          
         {% thumbnail received_user.profile.image "100x100" crop="center" as img %}
            <img src="{{img.url}}" alt="user image" class="w-10 sm:w-16 h-10 sm:h-16 rounded-full border border-gray-100 m-0 shadow-sm">
         {% endthumbnail %}
        
          <div class="flex flex-col leading-tight">
             <div class="text-2xl mt-1 flex items-center">
                <span class="text-gray-700 mr-3 text-xl md:text-2xl">{{received_user.username | capfirst }}</span>
                <span class="text-green-500">
                   <svg width="10" height="10">
                      <circle cx="5" cy="5" r="5" fill="currentColor"></circle>
                   </svg>
                </span>
             </div>
             <!-- <span class="text-lg text-gray-600">Junior Developer</span> -->
          </div>
       </div>
       
    </div>
   
    <!-- Chat Log -->
    <div id="chat-log" class="flex flex-col space-y-4 p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch">
     
        
       
       {{ received_user.profile.image.url|json_script:"user_avatar" }}
     
       
       <!-- Reading Messages From data base -->
       
       {% for chat in chats.all  %}

                {% if chat.sender.id == request.user.id %}
                                            
                    {% if message.image %}
                            <div>
                                    <img src="{{message.image.url}}" alt="Photo Attachements" width="115" height="115">
                            </div>
                    {% endif %}
                    <div class="chat-message">
                        <div class="flex items-end justify-end">
                                <div class="flex flex-col space-y-2 text-xs max-w-xs mx-10 md:-2 order-1 items-end">
                                        <div><span class="px-4 py-2 rounded-lg inline-block rounded-br-none bg-blue-600 text-white ">{{chat.content}}</span></div>
                                </div>
                                                
                        </div>
                    </div>              
                  
                {% else %}
                        {% if message.image %}
                                <div class="flex items-end justify-end">
                                        <img src="{{chat.user.profile.image.url}}" alt="Photo Attachements" width="115" height="115">
                                </div>
                        {% endif %}
                                     
                    <div class="chat-message">
                       <!-- {{received_user.image.url}} -->
                            <div class="flex items-end">

                                    <div class="flex space-y-2 text-xs max-w-xs mx-2 order-2 items-start items-center">
                                             <div>
                                                {% thumbnail received_user.profile.image "100x100" crop="center" as img %}
                                                <img src="{{ img.url }}" width="25" height="25" alt="received_user profile avatar rounded-full" class=" rounded-full"></div>
                                                {% endthumbnail %}
                                              
                                            <div class="m-auto"><span class="px-4 py-2 rounded-lg inline-block bg-gray-300 text-gray-600">{{chat.content}}</span></div>
                                    </div>
                                                
                            </div>
                    </div>
                    
                {% endif %}
        {% endfor %}
       
       
       
       
      
    
  
    </div>
    <!-- Chat Buttons -->
    <div class="border-t-2 border-gray-200 px-1 md:px-4 pt-0.5 md:pt-4 mb-0 md:mb-2 sm:mb-0">
       <div class=" flex items-center">
       
      
          <input id="chat-message-input" type="text" placeholder="Write Something" class="w-full focus:outline-none focus:placeholder-gray-400 text-gray-600 placeholder-gray-600 pl-2 md:pl-12 bg-gray-200 rounded-full py-0.5 md:py-3 text-sm md:tex-base">
               
          <div class="right-0 items-center inset-y-0 hidden sm:flex">
                  
                    
                </div>
                <button type="button" class="inline-flex items-center justify-center rounded-full h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 text-gray-600">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z"></path>
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13a3 3 0 11-6 0 3 3 0 016 0z"></path>
                    </svg>
                </button>
             
               
                <button id="chat-message-submit" type="button" value="Send" class="inline-flex items-center justify-center rounded-full h-7 p-2 md:p-3 transition duration-500 ease-in-out text-white bg-blue-500 hover:bg-blue-400 focus:outline-none">
                   <i class='bx bx-send'></i>
                </button>
                {{request.user.id|json_script:"user_id"}}
                {{ room.id | json_script:"room_id" }}
                <br>
       </div>
    </div>
 
 </div>
 

 


 <script>
    
 </script>

 
 









<!-- Endof Template -->

   
{% endblock content %}
