<!-- chat/templates/chat/room.html -->
{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
Chat Room
{% endblock title %}
    
{% block body %}
    {{ room_name|json_script:"room-name" }}
    {{ room.id|json_script:"room_id" }}
    {{ received_user.username|json_script:"received_user" }}
    {{ request.user.username | json_script:"sender" }}
    {{ request.user.id | json_script:"sender_id" }}   
    
<!-- component -->


   

   
<div class="fixed top-0 left-0 right-0 z-40 ">
   {% include 'includes/navbar.html' %}
 </div>



<div class="h-screen bg-gray-300">
   <div class="flex justify-center items-center h-screen ">
       <div class="w-96 h-96 bg-white rounded shadow-2xl">
           <nav class="w-full h-10 bg-gradient-to-r from-indigo-500 via-purple-700 to-indigo-500 rounded-tr rounded-tl flex justify-between items-center">
               <div class="flex justify-center items-center"> <i class="mdi mdi-arrow-left font-normal text-gray-300 ml-1"></i>
                   <!-- <img src="https://i.imgur.com/IAgGUYF.jpg" class="rounded-full ml-1" width="25" height="25">  -->
                   {% thumbnail received_user.profile.image "100x100" crop="center" as img %}
                   <img id="user_dp" src="{{img.url}}" alt="user image"  class="w-8 h-8 rounded-full">
                   {% endthumbnail %}
                   <span class="text-xs font-medium text-gray-300 ml-1">{{received_user.username | capfirst }}</span> 
               </div>
               <div class="flex items-center"> <i class="mdi mdi-video text-gray-300 mr-4"></i> <i class="mdi mdi-phone text-gray-300 mr-2"></i> <i class="mdi mdi-dots-vertical text-gray-300 mr-2"></i> </div>
           </nav>
           <div id="chat-log" class="overflow-auto px-1 py-1" style="height: 19rem;" id="journal-scroll">
               {{ received_user.profile.image.url|json_script:"user_avatar" }}
               <div id="chat_list">

                  
                  {% for chat in  chats %}
                        
                        {% if chat.content %}
                                 
                                 {% ifchanged chat.timestamp.date %}
                                 <div class="flex justify-center"> <span class="text-gray-500 text-xs" style="font-size: 8px;">{{ chat.timestamp | date:"d F y"}}</span> </div>                  
                                 {% endifchanged %}

                                 
                                 {% if chat.sender.id == request.user.id %}

                                 
                                    {% if chat.photo %}
                                          <div class="flex items-end justify-end">
                                             <img class="w-22 h-16 md:w-48 md:h-32 mr-14" src="{{chat.photo.url}}" alt="Photo Attachements">
                                          </div>
                                    {% endif %}
                                    <div class="chat-message mb-1" >
                                       <div class="flex justify-end pt-2 pl-10"> 
                                          <span class="bg-gradient-to-r from-indigo-700 via-indigo-600 to-indigo-800
                                           h-auto text-white text-xs font-normal p-1 rounded-lg rounded-tr-none px-1 items-end flex justify-end " style="font-size: 10px;">
                                             {{chat.content}}
                                             <span class="text-gray-400 pl-1" style="font-size: 8px;">     {% load tz %}
                                                {% timezone "Asia/Kolkata" %}
                                                   {{chat.timestamp | time:"h:i:A"}}
                                                {% endtimezone %}</span>
                                          </span> 
                                       </div>
                                    </div>
                                 
                                 {% else %}
                                       
                                       {% if chat.photo %}
                                          <div class="flex items-end">
                                             <img class="w-22 h-16 md:w-48 md:h-32 ml-14" src="{{chat.photo.url}}" alt="Photo Attachements">
                                          </div>
                                       {% endif %}
                                       <div class="chat-message mb-1 my-1">

                                       </div>
                                       <div class="flex items-center pr-10 mt-1"> 
                                          <img src="{{received_user.profile.image.url}}" class="rounded-full shadow-xl" width="15" height="15"> 
                                          
                                          <span class="flex ml-1 h-auto 
                                          bg-gradient-to-r from-purple-900 via-violet-600 to-purple-900
                                          text-white text-xs p-1 font-normal px-1 items-end rounded-lg rounded-bl-none" 
                                             style="font-size: 10px;">
                                             {{chat.content}}
                                             <span class="text-gray-400 pl-1" style="font-size: 8px;">
                                                {% timezone "Asia/Kolkata" %}
                                                {{chat.timestamp | time:"h:i:A"}}
                                             {% endtimezone %}
                                             </span>
                                          </span> 
                                       </div>
                                    
                                 {% endif %}
                                    
                                                            
                        {% endif %}
                                                
                  {% endfor %}
                     
                  
                  
                  
      
                  <div class=" " id="chatmsg"> </div>
               </div>
           </div>
              <!-- Chat Buttons -->
           <div class="flex justify-center items-center p-1 ">
               <div class="relative">
                  <div class="relative"> 
                     <i class="mdi mdi-emoticon-excited-outline absolute top-1 left-1 text-white" style="font-size: 17px !important;font-weight: bold;"></i> 
                     <input  id="chat-message-input" type="text" class="rounded-full pl-6 pr-12 py-2 focus:outline-none h-auto placeholder-gray-100 bg-gray-400 text-white" style="font-size: 11px;width: 250px;" placeholder="Type a message..." id="typemsg"> 
                     <i id="id_image" class="mdi mdi-camera absolute right-2 top-1 text-white"></i>
                   </div>
                  
               
               </div>
              
               <div class="w-7 h-7 rounded-full  bg-gradient-to-r from-purple-900 via-violet-600 to-purple-900 text-center items-center flex justify-center"> 
                  <button id="chat-message-submit" class="w-7 h-7 rounded-full text-center items-center flex justify-center focus:outline-none hover:bg-gray-900 hover:text-white" >
                     <i class="mdi mdi-send  text-white"></i>
                  </button>
                  {{request.user.id|json_script:"user_id"}}
                  {{ room.id | json_script:"room_id" }}
               </div>
           </div>
       </div>
   </div>
   </div>

        <!-- TODO:Upload Post -->
        <div class="min-w-screen animated fadeIn faster  fixed  left-0 top-0 flex justify-center items-center inset-0 z-40 outline-none focus:outline-none bg-no-repeat bg-center bg-cover hidden js-sendphoto-model"  id="modal-id">
           <div class="absolute bg-black opacity-75 inset-0 z-0 w-100"></div>
           <div class="relative mx-auto my-auto rounded-xl shadow-lg backdrop-opacity-10 backdrop-invert bg-white/30 shadow-lg border backdrop-filter backdrop-blur-xl w-fit h-auto md:w-2/5 p-1 md:p-3 ">
           <!--content-->
             <div class=" m-auto">
             <!--body-->
             <!-- <i class='bx bx-upload text-5xl text-blue-500 text-center'></i> -->
                 <div class="text-center pt-1 md:pt-5  flex-auto justify-center ">
                 
                     <!-- TODO:Add the ajax form -->
   
                       <div class="md:flex-row pt-3 px-0 md:px-3     " style="text-align: -webkit-center;">
                         <div class=" flex flex-col md:flex-row w-3/5 items-baseline "><label  for="id_photo"  class="text-xs md:text-sm text-center text-white">Photo:</label> </div>
                         <input type="file" class="js-send-photo text-center flex flex-col md:flex-row text-xs md:text-sm w-3/5 items-baseline mb-2 text-white" name="photo" required id="id_attachment"></div>
                       <!-- <div id="img-box"  class="w-1/2 h-12 md:h-1/4 md:w-1/2 relative mx-auto"></div> -->
                       <img id="img-send-box"  alt="Upload Photo" class="w-22 h-16 md:w-48 md:h-32 border relative mx-auto ext-xs md:text-sm text-white"></img>
                     
                     <textarea class="js-message-text  text-xs md:text-sm border-2 border-blue-500 mt-2 md:mt-4 w-3/5 h-9 md:h-11"  rows="2" placeholder="Message Text" maxlength="255"  required id="id_text" data-message-url="{% url 'chat:send_image' received_user.username  %} " ></textarea>
                             
                       
                 </div>
             <!--footer-->
                 <div class="  text-center space-x-1 md:block  mt-4">
   
                 <button class="js-send_image  bg-blue-500 text-white font-semibold mb-2 md:mb-0 px-3 py-1 
                               md-py-2 border-b-2 border-green-500 shadow-sm font-medium tracking-wider border 
                               rounded-full hover:shadow-lg hover:bg-gray-100 mr-2 hover:border-green-600 hover:bg-green-500 hover:text-white
                               shadow-md inline-flex text-xs md:text-sm mr-2">
                               Send Message
                 
                 </button>
                 
                   <button class="js-toggle-photo-model-cancel text-xs md:text-sm mb-2 md:mb-0 px-3 py-1 md-py-2  bg-white text-sm shadow-sm font-medium tracking-wider border text-gray-600 rounded-full hover:shadow-lg  ">
                     Cancel
                   </button>
                 </div>
                 <div id="alert-box"></div>
               </div>
           </div>
         </div>



<script>
   
</script>












<!-- Endof Template -->

  
{% endblock body %}