<!-- <form action="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Update User</button>
</form> -->

<form method="POST" action="" enctype="multipart/form-data">
  <input
    type="hidden"
    name="csrfmiddlewaretoken"
    value="dl6pLGajuynReAEaYlHsUwfcGs0XosHAM44eRNBXHOeZgcNRVK3aTenZRytMGmIW"
  />
  <p>
    <label for="id_user">User:</label>
    <select name="user" required id="id_user">
      <option value="">---------</option>

      <option value="1" selected>sajithpi</option>

      <option value="21">sajiradio</option>

      <option value="22">radio</option>
    </select>
  </p>
  <p>
    <label for="id_image">Image:</label> Currently:
    <a href="/media/profiles/SAJITH_P_I_1_QuHxXWG.jpg"
      >profiles/SAJITH_P_I_1_QuHxXWG.jpg</a
    ><br />
    Change:
    <input type="file" name="image" id="id_image" />
  </p>
  <p>
    <label for="id_gender">Gender:</label>
    <input
      type="text"
      name="gender"
      value="male"
      maxlength="100"
      required
      id="id_gender"
    />
  </p>
  <p>
    <label for="id_contact">Contact:</label>
    <input
      type="number"
      name="contact"
      value="949256259"
      required
      id="id_contact"
    />
  </p>
  <p>
    <label for="id_place">Place:</label>
    <input
      type="text"
      name="place"
      value="manjeri"
      maxlength="100"
      required
      id="id_place"
    />
  </p>
  <p>
    <label for="id_country">Country:</label>
    <input
      type="text"
      name="country"
      value="india"
      maxlength="100"
      required
      id="id_country"
    />
  </p>
</form>
