{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class=" bg-white md:shadow-lg shadow-none relative flex flex-col justify-center p-6 items-center rounded-3xl">
    <div class="  w-96 " >
    <h1 class="text-xl text-blue-700 py-6">{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes. <br>Kindly check your spam folder if in case reset email did't showed upon the main folder{% endblocktrans %}</p>
    </div>
</div>
    {% endblock %}