{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class=" bg-white md:shadow-lg shadow-none relative flex flex-col justify-center p-6 items-center rounded-3xl">
    <div class=" p-6 w-96 " >
    <h1 class="text-xl text-blue-700 py-3">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                <!-- {{ form.as_p }} -->

                <input type="hidden" name="csrfmiddlewaretoken" value="7X3gdlONcjyibjJuNkvSLt6YXUiTuu0bVzuI81WTV84y3Q7cnjukk2YlPxJx54ZZ">
                <!-- <div class="mb-4 relative">
                    
                    <input type="text" name="username" placeholder="Username" autocomplete="username" minlength="2" maxlength="150" required id="id_username" class="w-full rounded px-3 border border-gray-500 pt-1 pb-2 focus:outline-none input active:outline-none"  autofocus>
                    <label for="id_username" class="label absolute mb-0 -mt-2 pt-4 pl-3 leading-tighter text-gray-500 text-base mt-2 cursor-text"></label>
                </div> -->
                
                <div class="mb-4 relative flex items-center border border-gray-500 focus:ring focus:border-blue-500 rounded">
                    <input type="password" name="password1" placeholder="Password" autocomplete="new-password" required id="id_password1" class="w-full rounded px-3 pt-1 outline-none pb-2 focus:outline-none active:outline-none input active:border-blue-500"/>
                    <label for="id_password1" class="label absolute mb-0 -mt-2 pt-4 pl-3 leading-tighter text-gray-500 text-base mt-2 cursor-text"></label>
                    <a class="text-sm font-bold text-blue-700 hover:bg-blue-100 rounded-full px-2 py-1 mr-1 leading-normal cursor-pointer">show</a>
                </div>
                <div class="mb-4 relative flex items-center border border-gray-500 focus:ring focus:border-blue-500 rounded">
                  <input type="password" name="password2" placeholder="Password (again)" required id="id_password2" class="w-full rounded px-3 pt-1 outline-none pb-2 focus:outline-none active:outline-none input active:border-blue-500"/>
                  <label for="id_password2" class="label absolute mb-0 -mt-2 pt-4 pl-3 leading-tighter text-gray-500 text-base mt-2 cursor-text"></label>
                  <a class="text-sm font-bold text-blue-700 hover:bg-blue-100 rounded-full px-2 py-1 mr-1 leading-normal cursor-pointer">show</a>
              </div>
              <input type="submit" name="action" value="{% trans 'change password' %}"/>




                <!-- <input type="submit" name="action" value="{% trans 'change password' %}"/> -->
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
    </div>
</div>
{% endblock %}