{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<!-- <h1>{% trans "Change Password From A" %}</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>  -->

    <!-- TODO:Background Animation -->
<div
    class="mx-auto flex justify-center items-center filter blur-2xl animate-pulse duration-500 transition w-1/5 md:w-3/5 ">
    <div class="mt-5 mr-10 flex relative">
        <div class="p-44 rounded-full bg-gradient-to-r to-indigo-700 from-pink-900 absolute top-20 right-0">

        </div>
        <div class="p-44 rounded-full bg-gradient-to-r to-pink-700 from-indigo-900 absolute md:flex hidden">

        </div>
    </div>
    <!-- Right Side -->
    <div class="flex flex-col absolute top-8 right-10 space-y-4">

        <div class="p-5 rounded-full bg-gradient-to-r to-pink-700 via-red-500 from-indigo-900 absolute right-16 top-10">

        </div>
    </div>
    <div class="flex flex-col absolute bottom-8 right-10 space-y-4">

        <div class="p-10 rounded-full bg-gradient-to-r to-pink-700 from-indigo-900 absolute right-16 bottom-10">

        </div>
    </div>
    <!--  Left side -->
    <div class="flex flex-col space-y-4 filter animate-pulse duration-500">
        <div class="p-10 bg-gradient-to-r to-indigo-700 from-blue-900 absolute top-20 left-20">

        </div>
        <div class="p-10 bg-gradient-to-r to-indigo-700 from-blue-900 absolute bottom-20 right-20">

        </div>
    </div>
</div>

<form method="POST">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    <div class=" bg-white md:shadow-lg shadow-none relative flex flex-col justify-center p-6 items-center rounded-3xl">
        <div class=" p-0 md:p-6 w-auto">
            <h3 class="text-2xl md:text-3xl pb-3 md:pb-8 font-bold leading-normal">Password Change</h3>
            <div class="mb-2 md:mb-4 relative">
                <p><label class="hidden" for="id_old_password">Old password:</label>
                    <input type="password" name="old_password" autocomplete="current-password" autofocus required
                        id="id_old_password"
                        class="w-full rounded px-3 border border-gray-500 pt-1 pb-2 focus:outline-none input active:outline-none"
                        placeholder="Current Password"></p>
            </div>

            <div class="mb-2 md:mb-4 relative">
                <p><label class="hidden" for="id_new_password1">New password:</label>
                    <input type="password" name="new_password1" autocomplete="new-password" required
                        id="id_new_password1" class="w-full rounded px-3 border border-gray-500 
                                pt-1 pb-2 focus:outline-none input active:outline-none" placeholder="New Password">
                    <div class="helptext bg-blue-100  border-t border-b border-blue-500 ">
                        <ul class="alert text-blue-700 text-sm mb-3">
                            <li>Your password can’t be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can’t be a commonly used password.</li>
                            <li>Your password can’t be entirely numeric.</li>
                        </ul>
                    </div>
                </p>
            </div>

            <div class="mb-2 md:mb-4 relative">
                <p><label class="hidden" for="id_new_password2">New password confirmation:</label>
                    <input type="password" name="new_password2" autocomplete="new-password" required
                        id="id_new_password2" class="w-full rounded px-3 border border-gray-500 pt-1
                           pb-2 focus:outline-none input active:outline-none" placeholder="New Password Confirmation">
                </p>
            </div>



            <!-- <button type="submit" name="action">{% trans "Change Password" %}</button> -->
            <div class="my-1 md:my-3 text-base"><a
                    href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></div>
            <button
                class="bg-blue-700 hover:bg-blue-300 text-white text-sm md:text-md font-semibold py-1 md:py-3 py-2 px-2 md:px-4 focus:outline-none focus:shadow-outline rounded-3xl align-center"
                type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
    </div>
</form>












{% endblock %}