{% extends "base.html" %}
{% load account socialaccount %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}


<p></p>

<!-- <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form> -->



<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="Join">
  </form>







{% endblock %}