{% extends 'base.html' %}
homepage 22222

{% block title %}
    Home page
{% endblock title %}
<h1 class="text-3xl py-3 text-blue-500">Welcome {{user.username}}</h1>

{% block body %}
  
  {% if request.user.is_authenticated %}
    <div id="posts-container">
      {% for post in posts  %}
          
		            {% include 'includes/post.html' with post=post  show_detail_link=True %}

                {% if request.user not in post.likes.all %}
                    <!-- <button class="bg-green-500">Like</button>                     -->
                {% else %}
                    <!-- <button class="bg-red-500">Dislike</button> -->
                {% endif %}
        {{total_likes}}


      {% endfor %}
    </div>

  {% else %}
    {% include 'includes/login.html' %}
  {% endif %}
    

      
{% endblock body %}

    
    