<!-- component -->
<!-- Facebook notification -->
<style>
        .text-blue {
            color: #1876f2;
        }
    </style>
{% load thumbnail %}
<div class="text-end pr-4 bg-gray-100">
<button @click="dropdownOpen = !dropdownOpen"  class="bg-slate-100 p-1 mt-3 rounded-full border-1 border-gray-700">
    <svg class="h-3 w-3 fill-current" viewBox="0 0 20 20"><path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/></svg>
</button>
</div>

<div class="overflow-y-scroll max-h-96 text-center">
    
    {% if notifications %}
        

        
 
    {% for notification in notifications %}
        
        {% if notification.from_user != notification.to_user %}
            
          
            
                        {% if notification.notification_type == 4 %}
                        <div class="bg-gray-100  pl-4 py-1 rounded-lg shadow-md max-w-md border-b ">

                            <div class="flex items-center mt-3 hover:bg-gray-100 rounded-lg  py-1 cursor-pointer">
                         
                                <div class="flex flex-shrink-0 items-end">
                                
                                    {% thumbnail notification.from_user.profile.image "39x39" crop="center" as im %}
                                                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                                                    class="rounded-full object-scale-down">
                                    {% endthumbnail %}
                                    
                                </div>
                                <div class="m-auto pl-2">
                                    <a href="{% url 'feed:thread_message_notification' notification.pk notification.thread.pk %}">
                                    <p class="text-xs md:text-sm m-auto"><span class="font-bold">{{notification.from_user | capfirst}}</span> Has Messaged You </p>
                                    <!-- <small class="text-xs text-gray-500 font-semibold h-0.5">{{notification.date | timesince }} a few seconds ago</small>  -->
                                    </a>
                                </div>   
                               
                           


                            
                        </div>
                        <div class="text-left"><small class="text-xs text-gray-500 font-semibold h-0.5">{{notification.date | timesince }} a few seconds ago</small> </div>
                    </div> 
                   
                        {% endif %}
                  
        {% endif %}
    {% endfor %}
    <a class="text-center" href="{% url 'profiles:inbox' %}"> <i class='bx bxs-paper-plane'></i>Show Chat List</a> 
    {% else %}
    <p class="text-center">No New Messages</p>    
    <a class="text-center" href="{% url 'profiles:inbox' %}"> <i class='bx bxs-paper-plane'></i>Show Chat List</a>    
    {% endif %}
</div>
