{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block body %}


<card class="flex flex-col rounded-lg shadow-lg w-72 bg-white mx-auto mt-36">

    <!-- Logo -->
    <div class="flex justify-center mt-7">
        <i class="bi bi-google text-xl md:text-2xl text-blue-500"></i>
    </div>

    <!-- Title -->
    {% if process == "connect" %}
        <p class="text-center text-gray-800 text-base md:text-xl ">{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</p>
    <!-- Description -->
        <p class="text-center text-gray-700 font-light mt-1">{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
    {% else %}
        <p class="text-center text-gray-800  text-base md:text-xl mt-1">{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</p>
        <p class="text-center text-gray-700 font-light mt-1 text-sm">{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
    {% endif %}
    <!-- Buttons -->
    <div class="flex flex-row-reverse mt-1 self-center gap-5 mb-3">
        <form method="post">
                {% csrf_token %}
        <button type="submit" class="w-full flex justify-center bg-gradient-to-r from-indigo-500 to-blue-600  hover:bg-gradient-to-l hover:from-blue-500 hover:to-indigo-600 text-gray-100 p-2 rounded-full tracking-wide font-semibold  shadow-lg cursor-pointer transition ease-in duration-500 text-sm">
            {% trans "Continue" %}
        </button>
        </form>
   

    </div>

  </card>

</div>

{% endblock body %}