<div
	class="mx-auto flex justify-center items-center filter blur-2xl animate-pulse duration-500 transition w-1/5 md:w-3/5  ">
	<div class=" mr-10 flex relative">
		<div class=" rounded-full absolute top-20 right-0">

		</div>
		<div class=" rounded-full bg-gradient-to-r to-pink-500 from-indigo-500 absolute md:flex hidden">

		</div>
	</div>
	<!-- Right Side -->
	<div class="flex flex-col absolute top-8 right-10 space-y-1">

		<div class=" rounded-full bg-gradient-to-r to-pink-500 via-red-500 from-indigo-500 absolute right-16 top-10">

		</div>
	</div>
	<div class="flex flex-col absolute bottom-8 right-10 space-y-1">

		<div class=" rounded-full bg-gradient-to-r to-pink-500 from-indigo-500 absolute right-16 bottom-10">

		</div>
	</div>
	<!--  Left side -->
	<div class="flex flex-col space-y-1 filter animate-pulse duration-500">
		<div class=" bg-gradient-to-r to-indigo-500 from-blue-500 absolute top-20 left-20">

		</div>
		<div class="p-10 bg-gradient-to-r to-indigo-500 from-blue-500 absolute bottom-20 right-20">

		</div>
	</div>
</div>