{% load custom_tags %}
   <!-- Navigation Bar -->
  
 

   <nav class="w-auto bg-white shadow-lg border-t-1 shadow-indigo-500/40 shadow border-b border-gray-400 absolute inset-x-0 top-0 h-16 z-30  ">
       
    <div class="w-auto border-gray-400 ml-8 md:ml-64 z-50">
        {% include 'includes/alert.html' %}
       </div>
   
    <div class="flex justify-between h-16">
        <div class="flex w-11 md:w-14  ">
            <div class="flex-shrink-0 flex items-center">
                <a href="{% url 'profiles:welcome' user.username %}"> <div class="text-sm md:text-2xl capitalize text-indigo-500 ml-1 md:ml-4 ">SocialBook</div> </a>
            </div>
        </div>
        <!-- Search Button -->
        <div class="flex-auto flex items-center justify-center ">
            <div class="ml-8">
                <form action="{% url 'feed:search' %}" method="get" >
                    <label for="search" class="sr-only text-xs md:text-sm">Search</label>
                    <div class="w-28 h-7 sm:w-full md:h-10  bg-white border rounded-full flex justify-between items-center relative mx-1 pl-3  pr-2">
   
                        <input type="search" name="keyword" id="search" placeholder="Search"
                            class="w-full outline-none focus:outline-none active:outline-none  "/>
                        <button type="submit" class=" outline-none focus:outline-none active:outline-none self-center">
                            <div class="items-center mt-1 ">
                                <i class='bx bx-search-alt-2 text-base md:text-xl' ></i>
                            </div>
                            
                        </button>
                   
                  </div>
                </form>
            </div>
        </div>

        <!-- icons-->
        <div class="lg:ml-4 flex items-center self-center mr-0 md:mr-3">
            <!-- TODO:Home Icon -->
            <button
                class="flex-shrink-0 pr-1 md:pr-4 border-transparent text-gray-700 rounded-full hover:text-gray-600 focus:outline-none ">
                <a href="{% url 'feed:home' %} "
                class="flex flex-col md:flex-row items-center h-12  text-gray-500 hover:text-gray-800 ">
                <span class="inline-flex items-center content-start md:content-center  h-12 text-gray-400"><i
                    class="bx bx-home text-indigo-500 text-lg md:text-2xl"></i></span>
      
              </a>
            </button>
            {% if request.user.is_authenticated %}

            <!-- Chat Rooms -->
                <button
                    class="flex-shrink-0 pr-1 md:pr-4 border-transparent text-gray-700 rounded-full hover:text-gray-600 focus:outline-none">
                    <a href="{% url 'chat:index' %}"
                    class="flex flex-col md:flex-row items-center h-12 transform  text-gray-500 hover:text-gray-800 ">
                    <span class="inline-flex items-center content-start md:content-center w-6 h-12 text-gray-400"><i
                        class="bx bxs-chat text-indigo-500 text-lg md:text-2xl"></i></span>
                    <!-- <div class="text-xs md:text-sm font-medium  hidden md:block">Profile</div> -->
                </a>
                </button>

        

             <!-- #Notification List -->

             <div x-data="{ dropdownOpen: false }" class="relative my-36  pr-1 md:pr-4">
                <button @click="dropdownOpen = !dropdownOpen" class="relative flex-shrink-0 pt-1 border-transparent text-gray-700 rounded-full hover:text-gray-600 focus:outline-none">
                    <i class='bx bx-notification text-indigo-500 text-xl md:text-2xl'></i>
                    <span class="absolute inset-0 object-left-top -ml-6">
                        <div class="inline-flex items-center px-0.5 py-0 border-2 border-white rounded-full text-xs font-semibold leading-4 bg-red-500 text-white">
                         {{notification_count}}
                        </div>
                      </span>
                </button>
             
              
                <div x-show="dropdownOpen" @click="dropdownOpen = false" class="fixed inset-0 h-full w-full z-10"></div>
              
                <div x-show="dropdownOpen" class="absolute right-0 mt-2 py-2 w-64 pl-8 md:pl-0 md:w-80 bg-white rounded-md shadow-xl z-50 ">
                  {% show_notifications %}
                
                  </a>
                  
                </div>
            </div>

                <!-- New Post -->
                <!-- <button
                class="flex-shrink-0 pr-0.5 md:pr-4 border-transparent text-gray-700 rounded-full hover:text-gray-600 focus:outline-none "
                aria-label="Notifications">
                    <a href="{% url 'feed:new_post' %}"
                    class="js-model-icon flex flex-col md:flex-row items-center h-12 text-gray-500 hover:text-gray-800 ">
                    <span class="inline-flex items-center content-start md:content-center  h-12  text-gray-400"><i
                        class="bx bx-message-alt-add text-indigo-500 text-xl md:text-2xl"></i></span>
                
                    </a>
                </button> -->

                <!-- Logout -->
                <button
                    class="flex-shrink-0 pr-0.5 md:pr-4 border-transparent text-gray-700 rounded-full hover:text-gray-600 focus:outline-none "
                    aria-label="Notifications">
                    <a href="{% url 'account_logout' %}"
                    class="flex flex-col md:flex-row items-center h-12 text-gray-500 hover:text-gray-800 ">
                    <span class="inline-flex items-center content-start md:content-center  h-12  text-gray-400"><i
                        class="bx bx-log-out text-indigo-500 text-lg md:text-2xl"></i></span>
                
                </a>
                </button>
            {% endif %}




        </div>
    </div>
   
</nav>