{% load thumbnail %}
{% load post_tags %}
{% load static %}
<script defer src="https://unpkg.com/alpinejs@3.1.1/dist/cdn.min.js"></script>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');

	* {
		font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		direction: ltr;
		font-weight: 500;
	}
</style>

{% include 'includes/background.html' %}

<div class="mx-auto flex justify-center max-w-3xl md:mb-1 mt-1 bg-white rounded-lg items-center relative md:p-0 "
	x-data="{
        comment : false,
    }">

	<div class="h-full relative post mx-2 md:mx-3">
		<div class="py-1 px-2">
			<div class="flex justify-between items-center pt-2">
				<div class="relative mt-1 flex">
					<div class="flex mb-1 m-3 md:m-0">
						<a href="{% url 'profiles:detail' post.author.username %}">
							{% thumbnail post.author.profile.image "59x59" crop="center" as im %}
							<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
								class="rounded-full object-scale-down ">
							{% endthumbnail %}
						</a>
						<!-- <img class="w-12 h-12 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"/> -->
						<div class="ml-2 mt-0.5">
							<span
								class="block font-medium text-sm md:text-xl leading-snug text-black dark:text-gray-100 object-scale-down capitalize">{{post.author.username}}</span>
							<span
								class="block text-xs md:text-sm text-gray-500 dark:text-gray-400 font-light leading-snug object-scale-down"">{{post.date_time}}</span>
            			</div>
          			</div>
				</div>
						{% if post.author.username == user.username %}
						<div class=" flex">

								<form action="" method="POST" id="{{post.id}}" class="">
									{% csrf_token %}
									<button id="delete-box{{post.id}}" type="button"
										class="relative p-0 md:p-2 focus:outline-none border-none bg-gray-100 rounded-full">
										<a class="delete-icon" href="{% url 'feed:delete' %}" id="{{post.id}}"">
										<i class='bx bx-trash'></i>
										</a>
								</button>
								<!-- TODO:Delete form -->
			
							</form>
							<button id=" edit-box{{post.id}}" type="button"
											class="relative p-0 md:p-2 mx-3 focus:outline-none border-none bg-gray-100 rounded-full">
											<a class="update-icon" id="{{post.id}}">
												<i class='bx bxs-edit'></i>
												</a>
									</button>
						</div>
						{% endif %}
					</div>
				</div>
				<span class="post-text">
					<input type="hidden" class="post{{post.id}}" id="{{post.id}}" value="{{post.id}}">
					<p id="post-text{{post.id}}"
						class="post-text{{post.id}} text-black-500 text-base md:text-lg px-3  leading-snug md:leading-normal capitalize">
						{{post.text}}
					</p>
				</span>
				{% if show_detail_link %}
				<div class="post-img{{post.id}} relative w-full h-full px-3">
					<a href="{% url 'feed:detail' post.id %}">
						<img id="postImg{{post.id}}" src="{{ post.photo.url }}" alt="SocialBook"
							class="rounded w-full h-full object-cover object-scale-down">
					</a>
				</div>
				{% else %}
				<div class="post-img{{post.id}} relative w-full h-full px-3">
				
					<img src="{{ post.photo.url }}" alt="SocialBook"
						class=" rounded w-full h-full object-cover object-scale-down">

				</div>

				{% endif %}
				<div class="">

					<!-- Comment -->
					<div class="overflow-y-scroll w-full absolute inset-0 bg-white transform transition duration-200"
						x-show="comment" x-transition:enter="transition ease-out duration-200"
						x-transition:enter-start="opacity-0 transform scale-90"
						x-transition:enter-end="opacity-100 transform scale-100"
						x-transition:leave="transition ease-in duration-100"
						x-transition:leave-start="opacity-100 transform scale-100"
						x-transition:leave-end="opacity-0 transform scale-90">
						<div class="flex justify-start items-center py-2 px-4 border-b" @click="comment = !comment">
							<svg class="w-8 h-8 text-gray-700" fill="none" stroke="currentColor" viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
									d="M7 16l-4-4m0 0l4-4m-4 4h18"></path>
							</svg>
						</div>

					</div>
					<div class="mx-3 md:mx-5">
						<!-- System Like and tools Feed -->
						<div class="flex justify-between items-start pl-1 py-1 md:pl-4 md:py-2">
							<div class="flex space-x-2 items-center items-baseline">
								<!-- <button class="js-like">Js test</button> -->
								<form action="{% url 'feed:like_post' %}" method="POST" id="{{post.id}}" 
									class="like-form mt-2" enctype="multipart/form-data">
									{% csrf_token %}
									<input type="hidden" name='post_id' value="{{post.id}}">

									<button class=" font-bold text-lg md:text-2xl
												rounded hover:text-blue-500 " type="submit">
										{% if request.user not in post.likes.all %}
										<!-- <i class="bx bx-like"></i> -->
										<span id="like-box{{post.id}}"><i class='bx bx-heart'></i></span>
										<h6 class="like-button{{post.id}} text-gray-500 text-xs md:text-sm my-0 w-14">
											Like</h6>
										{% else %}
										<!-- <i class="bx bx-dislike text-blue-500"></i> -->
										<span id="like-box{{post.id}}"><i class='bx bxs-heart text-red-500'></i></span>
										<h6 class="like-button{{post.id}} text-gray-500 text-xs md:text-sm my-0 w-14">
											Dislike</h6>

										{% endif %}
									</button>
									<!-- Getting  Number of likes -->
									<div class="flex">
									<div class="like-count{{post.id}} text-sm md:text-base font-bold ">
										{{post.total_like}} Likes</div>
								
									</div>
									
								</form>
								<!-- Comment Button -->
								<input type="hidden" name='post_id' value="{{post.id}}">
								<div class="pr-4">
									<button id="comment-box{{post.id}}" class="comment-button{{post.id}} font-bold text-lg md:text-2xl
												rounded hover:text-blue-500">
										<a href="{% url 'feed:detail' post.id %}" class="text-black"><span><i
													class='bx bx-comment-dots'></i></span></a>
										<div class="text-xs md:text-sm text-gray-500 ">Comment</div>
										
									</button>
								</div>
							</div>
							<div class="flex flex-col pr-1 py-1 md:pr-4 md:py-1">

								<div class="w-full h-4 text-end">
									<p class="font-normal text-xs text-gray-500">{{post.date_time | timesince}} ago</p>
								</div>
							</div>
						</div>

						<!-- TODO: Comment Section -->
						<div class="z-50 ">
							<input hidden name="post_id" value="{{post.id}}">
							<input hidden id="profile_img{{post.id}}" value="{{user.profile.image.url}}">
							<form action="" method="POST" class="comment-form" id="{{post.id}}"
								data-url="{% url 'feed:comment' %}" enctype='multipart/form-data'>
								{% csrf_token %}

								<div class="flex justify-between border-t items-center w-full border-b border-gray-300"
									:class="comment ? 'absolute bottom-0' : '' ">

									<div class="w-full ">
										<input id="comment-content{{post.id}}" type="text" name="content"
											placeholder="Add a comment here" required_id="id_content"
											class="comment-content{{post.id}} w-full text-sm py-2 px-3 rounded-none ">
									</div>
									<div class="w-20">
										<button
											class="comment-button{{post.id}} border-none text-sm px-4 bg-white py-2 text-blue-600 focus:outline-none"
											type="submit">Post</button>
									</div>
								</div>
							</form>
						</div>
						<!-- TODO:New Comment Section -->
						<input hidden id="comment_flag" value="{{show_comment_list}}">

						<div id="comment-container{{post.id}}" class=" pl-1  md:pl-4 ">
							<input hidden type="text" value="This is the comment cona="> 
						</div>
						<!-- End System Like and tools Feed -->
						<!-- TODO: Existing Comments Listing -->
					{% if show_comment_list == True %}
							<div class=" pl-1 py-1 md:pl-4  " id="comment_list{{post.id}}">
								{% if post.comment_set.all %}
									{% for comment in post.comment_set.all reversed %}
										<div class="flex border-b border-gray-300 items-center comment_list" id="comments-list{{post.id}} ">
											<div class="flex  w-14 h-9 md:h-11 mx-auto justify-center">
												<a class="self-center" href="">
													<!-- {{comment.user.user.username}} -->
													{% thumbnail comment.user.user.profile.image "29x29" crop="center" as im %}
													<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
														class="rounded-full object-scale-down">
													{% endthumbnail %}
	
												</a>
											</div>
											
											
											
											<div class="flex-initial grow  w-3/4" >
												
												{% if comment.user.user.username == user.username %}
												<div class="flex pl-1 w-full md:pl-3 text-xs md:text-base w-4/5"><input class="flex w-full" type="text" value="{{comment.content}}"></div>
													
												{% else %}
												<div class="flex pl-1 w-full md:pl-3 text-xs md:text-base">{{comment.content}}</div>
												{% endif %}
													
											</div>
											<div class="flex-initial w-1/4">
												
												{% if comment.user.user.username == user.username %}
													<div class=" flex justify-end">
														<form action="" method="POST" id="{{comment.id}}" class="">
															{% csrf_token %}
															<input hidden type="text" name="comment_user" id="comment_user{{comment.id}}" value="{{comment.user.user.username}}">
															<input hidden type="text" name="comment_user" id="comment_user_id{{comment.id}}" value="{{comment.user.user.id}}">
															<input hidden type="text" name="comment_content" id="comment_id{{comment.id}}" value="{{comment.content}}">
															<button id="delete-comment-box{{post.id}}" type="button"
																class="relative p-0 md:p-2 focus:outline-none border-none bg-gray-100 rounded-full">
																<a class="delete-comment-icon" href="{% url 'feed:delete_comment' %}" id="{{comment.id}}"">
																<i class='bx bx-trash'></i>
																</a>
															</button>
														<!-- TODO:Delete form -->
									
														</form>
															<button id=" edit-box{{post.id}}" type="button"
																	class="relative p-0 md:p-2 mx-3 focus:outline-none border-none bg-gray-100 rounded-full">
																	<a class="update-icon" id="{{post.id}}">
																		<i class='bx bxs-edit'></i>
																		</a>
															</button>
													</div>
												{% endif %}
											</div>






										</div>
										
										
									{% endfor %}
								{% endif %}
								<input hidden id="comment-count{{post.id}}" value="{{post.comment_set.all.count}}">
								{% if post.comment_set.all.count > 1 %}
									<a hidden href="{% url 'feed:detail' post.id%}">View ALl
										<span hidden id="comment_count_body{{post.id}}">{{post.comment_set.all.count}}</span> Comments
									</a>
								{% else %}
								<span hidden id="comment_count_body{{post.id}}">mkdfndmdfnjkjndm</span> Comments
								{% endif %}
							</div>

						<!-- TODO:If show comment list = False -->
					{% else %}
						<div class=" pl-1 md:pl-4 mb-1 md:mb-2 divide-y divide-slate-200">
							{% if post.comment_set.all %}
								{% for comment in post.comment_set.all reversed %}
									{% if forloop.counter < 3 %}
										<div class="flex " id="comments-list{{post.id}}">
											<p class="text-base md:text-lg font-bold ">{{comment.user.user.username}}</p>
											<p class="pl-1 md:pl-3 text-xs md:text-base self-center">{{comment.content}}</p>
											<span></span>
										</div>
									{% endif %}
								{% endfor %}
								{% if post.comment_set.all.count > 1 %}
									<input hidden id="comment-count{{post.id}}" value="{{post.comment_set.all.count}}">
										<a href="{% url 'feed:detail' post.id%}">View ALl
											<span id="comment_count_body{{post.id}}">{{post.comment_set.all.count}}</span> Comments
										</a>
								{% endif %}
							{% else %}
							<input hidden id="comment-count{{post.id}}" value="1">
							<span  hidden id="comment_count_body{{post.id}}">No Comments</a>
						{% endif %}
						</div>
					{% endif %}
						<input type="hidden" id="refreshed" value="no">
					</div>
				</div>
			</div>
		</div>
		<script>
			function myFunction(state) {
				const state_value = document.getElementById("state_value")
				if (state == 'like') {
					document.getElementById("like-button").className = "bx bx-like";
				}
			}
		</script>