{% load thumbnail %}


{% if request.user != user.user %}
<div class="mx-auto flex max-w-7xl  bg-white rounded-lg items-center relative "
	x-data="{
        comment : false,
    }">


    <div class="flex flex-col  bg-white shadow-md hover:shodow-lg rounded-2xl w-full h-full ">
        <div class="flex items-center justify-between">
            <div class="flex items-center mx-1 md:mx-3">
                <div class="flex w-16 md:w-24 h-16 md:h-auto items-center ml-1 md:ml-5">
                    <a href="{% url 'profiles:detail' user.user %}" class="object-scale-down">
                      
                        <img src="{{ user.image.url }}"
                            class="rounded-lg object-scale-down ">
                      
                    </a>
                </div>
                <div class="flex flex-col ml-3">
                    <div class="font-medium leading-none uppercase text-sm md:text-base mt-3 font-semibold">{{user.user}}</div>
                
                    <span class="text-sm text-gray-600 leading-none mt-1 capitalize">{{user.gender}}</p>
                    <span class="text-sm text-black leading-none mt-1 capitalize font-semibold">{{user.country}}</p>
                </div>
            </div>
            <div class="mx-4 md:mx-1 w-20 md:w-24">

                    <button  class="flex bg-white text-gray-800 font-bold rounded border-b-2 border-blue-500 hover:border-green-600 hover:bg-blue-600 hover:text-gray-400 shadow-md py-1 px-3 text-xs inline-flex items-center">
                        <a href="{% url 'chat:room' user.user %}" class="flex items-center">
                           <div class="text-xs md:text-sm">Message</div>
                            <i class='bx bxs-paper-plane text-indigo-500 text-xl md:text-2xl'></i>
                        </a>
                    </button>
            </div>
        </div>
    </div>
</div>
{% endif %}
